body{
    margin: 0;
    padding: 0;
    font-family: 'lato_regular', Verdana, sans-serif;
    font-size: 14px;
    background: #719AD9
}
.row {
    margin-top: 10px;
    overflow: hidden;
}
.pad{
    padding: 15px;
}
/*  NAVBAR  */
.navbar{
    background-color: #222;
    padding: 4vh;    
}
.navbar-item{
    padding-left: 2vh;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a:hover {
    color: #337ab7;
    text-decoration: underline;
}
.navbar-item:any-link{
    color: white;
    text-decoration: none;
}

/*  HEADER LOGOS  */
.logo-section{
    display: inline-grid;
    grid-template-columns: 20% 60% 20% ;
    gap: 10px;
    /* background */
    background-image: url("assets/testarossi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
}
.text-container h1 {
    font-family: 'avantgardelt_extralight', arial;
    color: #000;
    background-color: aliceblue;
    opacity: 0.6;
    text-transform: uppercase;
    box-shadow: 8px 8px 8px #555;
    font-weight: 100;
    font-size: 1.8em;
    margin: 0;
}
.text-container h3 {
    font-family: 'avantgardelt_extralight', arial;
    color: #000;
    background-color: aliceblue;
    opacity: 0.6;
    text-transform: uppercase;
    box-shadow: 8px 8px 8px #555;
    font-weight: 100;
    font-size: 0.8em;
    margin: 0;
}
.text-container{
    margin: auto 50px;
    display: inline-block;
}
.img-logos{
    margin: auto;
    width: 170px;
    max-height: 140px;
}

/* CAROUSEL */
.carousel{
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 60px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.slide{
    display: none;
}
.img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.carousel-text{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}
.slide-title{
    border-bottom:1px dotted #fff;
}
.date{
    color:#999;
    font-size: small;;
}
.prev, .next {
    position: absolute;
    cursor: pointer;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev{
    left: 0;
}
.next{
    border-radius: 3px 0 0 3px;
    right: 0;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot-container{
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 50px;
    background-color: #000;
    text-align: center;
}
.dot{
    background-color: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.active, .dot:hover {
    color: #717171;
}

/* MAIN */
.mainpage-container{
    background-color: #DEEFF6;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
}
#center-block{
    background-color: white;
    overflow: hidden;
}
#main-left{
    background-color: white;
    display: inline-block;
    width: 75%;
}
.news-left{
    display: inline-block;
    width: 68%;
}
.right{
    width: 32%;
    float: right;
}
.main-title-block, .main-title-round{
    display: block;
    margin: 15px 5px 20px 0px;
    padding: 5px 0px 5px 15px;
    margin: 0;

    background-color: #385991;
    font-size: 1.4em;
    color: #f0f0f0;
    font-weight: 200;
}
.main-title-round{
    border-radius: 5px;
    box-shadow: 2px 2px 3px #808080;
}
.mainpage-date{
    font-size: 0.8em;
    color: #385991;
}
.hdate {
    text-align: center;
    padding: 0px 10px;
    background-color: #339bdf;
    font-size: 0.85em;
    color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 3px grey;
    text-transform: capitalize;
    margin: 0px 5px 0px 0px;
}
/*evidenza*/
.container-evidenza{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #279eb1;
}
.evidenza-item{
    margin: 10px 10px;
}
.text-evidenza{
    color: white;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.1em;
    text-decoration: none;
}
/*avvisi*/
.avvisi-item{
    padding: 10px 10px;
    background-color: #279eb1;
}
.text-avvisi1{
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #f0f0f0;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.1;
}
.avvisi-item a{
    text-decoration: none;
    color: #222;
    font-weight: 700;
}
.avvisi-item a:hover{
    text-decoration: underline;;
    color: #222;
    font-weight: 700;
}
/*news*/
.news-container{
    margin: 15px 5px 0px 0px;
    padding-top: 15px;
    padding-left: 10px;
    background-color: #fff;
    font-size: 1.2em;
}
.news-item{
    padding: 15px 15px;   
    border-bottom: 2px solid gray;
}
.news-container p{
    font-size: 0.85em;
    line-height: 1.4em;
    font-weight: lighter;
    margin: 10px 20px;
    padding-left: 20px;
}
.news-img {
    width: 100%;
    border: 1px solid gray;
    transition: all 0.5s ease-in-out;
}
.zoom-image-container-news {
    display: block;
    padding-right: 20px;

    float: left;
    width: 150px;
}
.news-img:hover {
    transform: scale(1.5);
    border: none;
}
/* RIGHT SIDE MENU*/
.side-list{
    float: right;
    width: 25%;    
    text-align: center;
    font-weight: bold;
    background-color: #DEEFF6;
}
.title-side{
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    text-shadow: 3px 1px 6px #000;
    font-size: 1.2em;
    margin: 15px 0px 5px 0px;
    font-weight: 100;
    background-color: #7fa6e8;
}
.side-list a{
    font-size: 0.8em;
    line-height: 1em;
    text-decoration: underline dotted;
    font-family: Verdana;
}
#login{
    padding: 15px 0;
}
.zoom-image-container{
    display: inline-block;
    overflow: hidden;
}
.zoom-img {
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.zoom-img:hover {
    transform: scale(1.2);
}
/*pre footer*/
#prefooter {
    background-color: #DEEFF6;
    text-align: center;
}
#prefooter + .news-container{
    background-color: #DEEFF6;
}
.round-img {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    scale: 1/1;
}
.round-img+a{
    position: relative;
    display: inline-block;
}
.grodos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.grodo-container{
    padding: 15px;
    width: calc(100% / 6);
}
.single_icon {
    text-align: center;
    flex: 0 0 calc(100% / 6);
}
.grodo-img{
    margin: auto;
    border-radius: 50%;
    min-height: 150px;
    width: 150px;
}
/* PAGE-FOOTER */

.page-footer{
    background-color: #3b5991;
    margin-top: 20px;
}

.page-footer h2{
    color: #349aaa;
    text-align: center;
    border-bottom: 2px solid #349aaa;
    margin-left: 20px;
    margin-right: 20px;
}

.page-footer .row{
    display: flex;
}

.col{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.page-footer .row .col .sub-col{
    width: 250px;
    color: #349aaa;

}

.page-footer .row .col .sub-col h2{
    font-size: 18px;
    font-style: bold;
    text-align: center;
    margin-bottom: 0px;
}

.page-footer .row .col .sub-col hr{
    margin-top: 0px;
    border-color: #349aaa;
}

.page-footer .row .col .sub-col a{
    color: #bcd5d2;
    font-size: 15px;
}

.page-footer .row .col .sub-col a:hover{
    text-decoration: none;
    color: white;
    font-size: 15px;
}